#player1, #player2{
	border: 1px black solid;
	height: 40%;
	width: 30%;
	float: left;
	overflow: hidden;
}

#player2{
	float: right;
}

#player2 div{
	float: right;
}

#player1 div{
	float: left;
}

#score_player1{
	font-size: 25px;
}

#score_player2{
	font-size: 25px;
}

#icon_player1 img, #icon_player2 img{
	height: 35px;
	width: 35px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}

#monkey, #puppy, #star, #sun{
	height: 35px;
	width: 35px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}

#monkey img, #puppy img, #star img, #sun img{
	height: 35px;
	width: 35px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}

#game_options{
	width:100%;
	background-color: gray;
}

#game_options div.button{
	overflow: hidden;
}

#playpass{
	display: inline-block;
	float: left;
	border-left: 1px solid black;
	position: relative;
}

#clearswap{
	display: inline-block;
	position: fixed;
	border-left: 1px solid black;
	position: relative;
}

#clear{
	display: inline-block;
}

#swap{
	display: inline-block;
}

#gamemenubutton{
	display: inline-block;
	float: right;
	border-left: 1px solid black;
	position: relative;
}

.playerlistimg img{
	height: 35px;
	width: 35px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}

.playerlistimg{
	height: 35px;
	width: 35px;
	display: inline-block;
	float: right;
}

.playerlistname {
	float: left;
	width: 100px;
	display: inline-block;
}

#tiles_left{
	height: 40%;
	width: 19%;
	float: left;
	text-align:center;
	overflow: hidden;
}
#draw{
	background-color: #8C8C8C;
	color: #FFFFFF;	
}
#board{
	background-color: #FFFFFF;
	color: #FFFFFF;
	width: 100%;
	height: auto;	
	border: 1px #000000 solid;
	display: inline-block;
}
.grid{
	float: none;
	overflow: hidden;
	width: auto;
	background-color: #000000;	
}
.item{
	float: left;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
	height: 34px;
	width: 39px;	
	color: #000000;
	background-color: #333333;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}
.tiles{
	overflow: hidden;
}
.tile{
	width: 51px;
	height: 30px;
	float: left;
	border-bottom: 1px black solid;
	border-left: 1px black solid;
	background-color: #FFFFFF;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #000000;
	overflow: hidden;
}
.tile div{
	display: inline-block;
	float: left;
	width: auto;
}
.tile div:first-child{
	font-size: 20px;
	margin: 4px;
}
.tile div:last-child{
	display: inline-block;
	float: right;
	font-size: 11px;
	margin: 2px;
}
