/*
 * home
 */
#gamestart{
	margin: 20px auto;
	text-align: center;
    line-height: 50px;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
    top: 7px;
    left: 6px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-width: 10px 10px 10px 10px;
    -webkit-border-image: url(img/greenButton.png) 8 10 8 10;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#gamestart a{
	text-decoration: none;
	color: #FFFFFF;
}
/*
 * icon
 */
#iconlist ul{
	overflow: hidden;
	display: inline-block;
}
#iconlist ul li{
	float: left;
}
/*
 * Game
 */
#status_list ul li{
	margin: 0px;
	padding: 0px;
}
#statusbar{
	height: 39px;
	background-color: #8C8C8C;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}
#tiles_left{
	position: absolute;
    left: 50%;    
	height: 37px;
	font-size: 28px;
}
#player1, #player2{
	border: 1px black solid;
	height: 37px;
	width: auto;
	float: left;
	overflow: hidden;
	margin: 0px;
}

#player2{
	float: right;
}

#player2 div{
	float: right;
}

#player1 div{
	float: left;
}

#score_player1{
	font-size: 14px;
}

#score_player2{
	font-size: 14px;
}

#icon_player1 img, #icon_player2 img{
	height: 35px;
	width: 35px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	display: inline-block;
}

#monkey, #puppy, #star, #sun{
	height: 35px;
	width: 35px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}

#monkey img, #puppy img, #star img, #sun img{
	height: 35px;
	width: 35px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}

#game_options{
	width:100%;
	background-color: gray;
	border: 1px #000000 solid;
	background-color: #8C8C8C;
}

#game_options div:first-child{
	margin-right: 40px; 
}
#game_options div:last-child{
	margin-left: 20px;
	float: right;
}
#game_options div{
	float: left;	
    text-align: center;
    line-height: 28px;
    color: #000000;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
    top: 7px;
    left: 6px;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-width: 0 10px 0 10px;
    -webkit-border-image: url(img/whiteButton.png) 10 15 10 10;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#game_options div:active {
    -webkit-border-image: url(img/grayButton.png) 0 8 0 14;
    color: #FFFFFF;
}
#game_options div a{
	 text-decoration: none;
	 color: #000000;
}

.playerlistimg img{
	height: 35px;
	width: 35px;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}

.playerlistimg{
	height: 35px;
	width: 35px;
	display: inline-block;
	float: right;
}

.playerlistname {
	float: left;
	width: 100px;
	display: inline-block;
}

#draw{
	background-color: #000000;
	color: #FFFFFF;	
	text-align: center;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 100%;
}
#draw span{
	font-size: 10px;
	display: inline-block;
}
#board{
	background-color: #FFFFFF;
	color: #FFFFFF;
	width: 100%;
	height: auto;	
	border: 1px #000000 solid;
	display: inline-block;
}
.grid{
	float: none;
	overflow: hidden;
	width: auto;
	background-color: #000000;	
}
.item{
	float: left;
	border-bottom: 1px #000000 solid;
	border-left: 1px #000000 solid;
	height: 34px;
	width: 39px;	
	color: #000000;
	background-color: #333333;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}
.tile_on_board{
	width: 37px;
	height: 32px;
	float: left;
	border-bottom: 1px black solid;
	border-left: 1px black solid;
	background-color: #FFFFFF;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #000000;
	overflow: hidden;
}
.tiles{
	overflow: hidden;
}
.tile{
	width: 51px;
	height: 30px;
	float: left;
	border-bottom: 1px black solid;
	border-left: 1px black solid;
	background-color: #FFFFFF;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #000000;
	overflow: hidden;
}
.tile div, .tile_on_board div{
	display: inline-block;
	float: left;
	width: auto;
}
.tile div:first-child, .tile_on_board div:first-child{
	font-size: 20px;
	margin: 4px;
}
.tile div:last-child, .tile_on_board div:last-child{
	display: inline-block;
	float: right;
	font-size: 11px;
	margin: 2px;
}
